{% extends 'basic.html' %} {% block title %}{% endblock title %}
{% block body %} {% load static %}
<style>

  body {
    background-color: aquamarine;
  }
  /* .container{

  } */
  .card{
    box-shadow: 5px 5px 25px black;
    border: 1px solid black;
    margin: 1rem .5rem;
    /* width: 22rem; */
    overflow: hidden;
  }
  #carouselExampleCaptions img {
    border: 1px solid black;
    position: relative;
    height: 25rem;
    width: 100%;
  }
</style>
<div class="container-fluid">

    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
    {% for i in range %}
        <li data-target="#demo" data-slide-to="{{i}}" ></li>
    {% endfor %}
    </ul>


  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src=" {% static 'watch.jpg' %} "
          class="d-block w-100 h-10"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block text-dark">
          <h5 class="fw-bolder">First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src=" {% static 'headphones.jpg' %} "
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block text-dark">
          <h5 class="fw-bolder">Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src=" {% static 'camera.jpg' %} "
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block text-dark">
          <h5 class="fw-bolder">Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="cards d-flex justify-content-center">
    <div class="card">
      <img src="{% static 'headphones.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'headphones.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'headphones.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'headphones.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {% for i in my_products|slice:'1:' %}
  <div class="cards d-flex justify-content-center">
    <div class="card">
      <img src="{% static 'headphones.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
      </div><div class="cards d-flex justify-content-center">
    {% endif%}
  </div>
  {% endfor %}

</div>
{% endblock body %}
